body.signup-page {
  margin: 0;
  padding: 0;
  background-color: #eaf6ff;
  background-image: radial-gradient(circle at 20% 20%, #dbefff 60px, transparent 61px),
                    radial-gradient(circle at 80% 30%, #dbefff 80px, transparent 81px),
                    radial-gradient(circle at 60% 80%, #dbefff 100px, transparent 101px);
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Poppins', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.signup-container {
  background-color: transparent;
  padding: 0px;
  border-radius: 0px;
  box-shadow: none;
  width: 90%;
  max-width: 350px;
  text-align: center;
}

.signup-title {
  color: #0960B4;
  font-weight: 600;
  font-size: 26px;
  margin: 20px 0;
  text-align: center;
}

.signup-image {
  width: 200px;
  margin: 30px auto;
  display: block;
  background: transparent !important;
  box-shadow: none !important;
}

form {
  padding: 20px;
}

.signup-container input {
  border: 1px solid #DDF3FF;
  background: white;
  border-radius: 10px;
  padding: 12px 15px;
  width: 100%;
  margin-bottom: 15px;
  font-size: 14px;
  color: #1065B5;
  box-shadow: none;
  transition: border 0.2s ease, box-shadow 0.2s ease;
}

.signup-container input:focus {
  border: 2px solid #65BBF5;
  outline: none;
}

.signup-container input::placeholder {
  color: #CADEEA;
  font-weight: 600;
  opacity: 1;
}

.signup-container button {
  background-color: #64BBF6;
  color: white;
  border: none;
  padding: 12px;
  margin-top: 10px;
  border-radius: 10px;
  width: 100%;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.signup-container button:hover {
  background-color: #3392dd;
}

.signup-container p {
  margin-top: 15px;
  font-size: 14px;
}

.signup-container a {
  color: #0960B4;
  text-decoration: none;
  font-weight: bold;
}

.signup-container a:hover {
  text-decoration: underline;
}
